body{
     font-family: 'Supermercado One', cursive; 
    margin: 0%;
}
.span{
    color: brown;
}
.st-div{
    display: flex;
    background-image: url(images/shapes/Frame\ 58.jpg);
    margin-bottom: 5%;
}
.half-width{
    width: 50% ;
    margin-left: 20px;
    padding-left: 5%;
    align-items: center;
    padding-top: 5%;
}
.st-div img{
    width:80% ;
}
.fb-page{
    padding: 10px 40px ;
    background-image: linear-gradient(orange, pink);
    border-radius:30px ;
    text-decoration: none;

}
.div{
     text-align: center;
     margin-bottom: 5%;
}
.nd-div{
    display: flex;
    background-image: url(images/shapes/Frame\ 59.jpg);

}
.rd-div{
    display: flex;
    background-image: url(images/shapes/7.png);
    margin-bottom: 100px;

}
.rd-div img{
    width: 100%;
    border-radius: 15px;
}
.khabar{
color: darkgoldenrod;
}
.recip{
    width: 50%;
    border-radius: 10px ;
    padding: 20px 25px;
    margin: 5% 8% ;
    box-shadow: 8px 8px 8px 7px gray;
}
.thh-div{
    height: 250px;
    display:flex; 
    margin:100px 120px;
    background-color: light white;
    border-radius: 10px;
    box-shadow: 10px 8px 10px 8px gainsboro;
}
.follow{
    padding-left: 16%;
    text-align: center;
    padding-top: 35px;
    color: crimson;
    margin-bottom: 100px;
}
.follow img{
    height: 58px;
    width: 70px;
    box-shadow: 8px 10px 10px gray;
    border-radius: 20px;
}
.fth-div{
    background-color: darkslategray;
    height: 250px;
}
.last{
    text-align: center;
    padding-top: 40px;
}
.fresh{
    color: darkgoldenrod;
}
.footer{
    text-align:center;

}
.footer img{
    width:22px;
    height: 25px;
}